@use "../variables/typography";
@use "../variables/colors";
@use "../variables/functions";
@use "../variables/breakpoints";

.card-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 45px;
  gap: 30px;
  height: 450px;

  &--first {
    background-color: $first-color;
    border-radius: functions.pixelsToRem(8) functions.pixelsToRem(8) 0 0;
  }

  &--second {
    background-color: $second-color;
  }

  &--third {
    background-color: $third-color;
    border-radius: 0 0 functions.pixelsToRem(8) functions.pixelsToRem(8);
  }
}

h2 {
  text-transform: uppercase;
  font-size: functions.pixelsToRem(35);
}

@media (min-width: breakpoints.$breakpoint-desktop) {
  .card-container {
    &--first {
      border-radius: functions.pixelsToRem(8) 0 0 functions.pixelsToRem(8);
    }

    &--third {
      background-color: $third-color;
      border-radius: 0 functions.pixelsToRem(8) functions.pixelsToRem(8) 0;
    }
  }
}
