@use "../variables/typography";
@use "../variables/colors";
@use "../variables/functions";

.button {
  background-color: colors.$main-light-color;
  width: 150px;
  padding: 13px;
  border-radius: 30px;
  font-size: 15px;
  border: 2px solid colors.$main-light-color;

  &--first {
    color: colors.$first-color;
  }
}

.button:hover {
  background-color: transparent;
  color: colors.$main-light-color;
}
